name: Terraform with Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ] 

  workflow_dispatch:

jobs:
  terraform-docker:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Set up Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # Step 3: Install Docker (usually pre-installed on ubuntu-latest)
      - name: Docker Install
        run: |
          sudo systemctl enable docker
          sudo systemctl start docker
          docker --version

      # Step 4: Terraform Init
      - name: Terraform Init
        run: terraform init

          # Step 4: Terraform Taint
      - name: Terraform Taint
        run: terraform taint "docker_container.nginx_server1"

        # Step 4: Terraform Plan
      - name: Terraform plan
        run: terraform plan

        # Step 5: Terraform Apply
      - name: Terraform Apply
        run: terraform apply -replace="docker_container.nginx_server1" -auto-approve

      # Step 6: Run Docker Commands
      - name: Run Docker Commands
        run: |
          docker pull alpine
          docker run --name test-container -d alpine sleep 30
          docker ps -a
          docker exec test-container echo "Docker is working with Terraform workflow!"
          docker stop test-container
          docker rm test-container

      # Step 7: Terraform Destroy (optional)
      #- name: Terraform Destroy
       # if: always()
        #run: terraform destroy -auto-approve
